<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Todas as mensagens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of messages">
    <ion-card-header>
      <ion-card-title>{{ m.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ m.content }}
    </ion-card-content>
    <ion-item>
      <ion-icon name="create" slot="end" (click)="edit(m.id)"></ion-icon>
      <ion-icon name="trash" slot="end" (click)="delete(m.id)"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>